#!/usr/bin/make -f

%:
	dh $@ --with python2

override_dh_auto_install:
	dh_auto_install

	mkdir -p debian/snf-vncauthproxy/usr/sbin
	-mv debian/snf-vncauthproxy/usr/bin/vncauthproxy \
	    debian/snf-vncauthproxy/usr/sbin/vncauthproxy
	rmdir debian/snf-vncauthproxy/usr/bin
